//Helper

.pageOne,
.pageTwo,
.pageThree,
.modal
 {
  transform: translateX(-1000%);
  position: absolute;
  visibility: hidden;
  transition: transform 0.2s ease;
}

.isOpen {
  transform: translateX(0%);
  position: relative;
  visibility: visible;
}
