//Variables

$logo-light:('/src/assets/img/logo@2x.png');
$icon-search-light:('/src/assets/img/icon-search@2x.png');
$icon-cart-light:('/src/assets/img/icon-cart@2x.png');
$icon-theme-light:('/src/assets/img/icon-dark@2x.png');

$logo-dark:('/src/assets/img/logo-dark@2x.png');
$icon-search-dark:('/src/assets/img/icon-search-dark@2x.png');
$icon-cart-dark:('/src/assets/img/icon-cart-dark@2x.png');
$icon-theme-dark:('/src/assets/img/icon-dark-light@2x.png');

$baseSize: 12px;
$baseLineSize: 10px;
$baseWeight: 400;
$baseLineHeight: 10px;
$sizeLevel: 4px;
$weightLevel: 100;
$paddingLevel: 1;

$white:rgba(255, 255, 255, 1);
$whiteL4:rgba(255, 255, 255, 0.4);
$whiteL6:rgba(255, 255, 255, 0.6);
$white-footer:rgba(246, 247, 248, 1);
$white-icon-disable:rgba(240, 240, 245, 1);
$black:rgba(0, 0, 0, 1);
$black-primary:rgba(18, 18, 18, 1);
$black-icon:rgba(42, 42, 42, 1);
$black-icon-border:rgba(34, 34, 34, 1);
$grey-footer:rgba(51, 51, 51, 1);
$grey-bar:rgba(240, 240, 245, 0.4);
$grey-icon:rgba(128, 128, 128, 1);
$grey-icon-disable:rgba(175, 177, 189, 1);
$grey-border:rgba(94, 94, 94, 1);
$pink-button:rgba(246, 117, 153, 1);


$themes: (
  "dark": (
    "primary": $black-primary,
    "secondary": $white,
    "footer-p": $grey-footer,
    "footer-s": $whiteL6,
    "form-s": $whiteL4,
    "btn-p": $pink-button,
    "btn-s": $white,
    "cart-background":$grey-footer,
    "icon-number-active-p": $white,
    "icon-number-active-s": $grey-footer,
    "icon-number-active-d": $white,
    "icon-number-disable": $whiteL4,
    "icon-bar-active": $white,
    "icon-bar-disable": $grey-bar,
    "icon-count-background": $grey-icon,
    "icon-count-font": $grey-footer,
    "icon-radio-background":$grey-footer,
    "icon-radio-normal":$grey-footer,
    "icon-radio-focused":$white,
    "icon-radio-border":none,
    "icon-radio-font": $grey-bar,
    "border":$grey-border,
    "logo":$logo-dark,
    "icon-search":$icon-search-dark,
    "icon-cart":$icon-cart-dark,
    "icon-theme":$icon-theme-dark,
  ),
  "light": (
    "primary": $white,
    "secondary": $black,
    "footer-p": $white-footer,
    "footer-s": $grey-icon,
    "form-s": $grey-icon,
    "btn-p": $pink-button,
    "btn-s": $white,
    "cart-background":$white,
    "icon-number-active-p": $black-icon,
    "icon-number-active-s": $grey-footer,
    "icon-number-active-d": $white,
    "icon-number-disable": $grey-icon-disable,
    "icon-bar-active": $black,
    "icon-bar-disable": $white-icon-disable,
    "icon-count-background": $white-icon-disable,
    "icon-count-font": $black,
    "icon-radio-background":$black-icon,
    "icon-radio-normal":$white,
    "icon-radio-focused":$white,
    "icon-radio-border":$black-icon-border,
    "icon-radio-font": $black,
    "border":$white-icon-disable,
    "logo":$logo-light,
    "icon-search":$icon-search-light,
    "icon-cart":$icon-cart-light,
    "icon-theme":$icon-theme-light,
  ),
);

// header-size:16px
// 結帳大標題:32px
// 寄送地址:24px lineH:24px weight:700
// footer標題:24px lineH:24px 700
// footer小字:16px lineH:17px 400

// form:
// label:12px; line-height:16px weight700;
// placeholder:12px; line-height:16px weight400;
