.btn {
  display: block;
  width: 174px;
  height: 46px;
  border-radius: 8px;
  border: none;
  font-family: $button-font-family;

  &--scale {
    width: 100%;
    @include desktop {
      width: 174px;
    }
  }
  &--next {
    @include themeGen() {
      background-color: getThemeVal(btn-p);
      color: getThemeVal(btn-s);
    }
  }
  &--pre {
    @include themeGen() {
      color: getThemeVal(secondary);
    }
    background: none;
    width:auto;
  }

  &__group{
    &--scale{
      @extend %flex;
      justify-content: flex-end;
    }
    &--between{
      @extend %flex;
      justify-content: space-between;
    }
  }
}
