.logo {

  &__img {
    width: 136px;
    height:24px;
    @include themeGen(){
      content: getThemeVal(logo)
    }
  }
  @include desktop {
    &__img {
      width: 170px;
      height:30px;
    }
  }
}
